/* general style*/
body {
	background-color: #F5EEF8;
	line-height: 1.6;
}

/* navigation bar*/
ul{
	width: 100%;
	list-style-type: none;
  	margin: 0;
  	padding: 0;
  	top:0;
	left:0;
  	overflow: hidden;
	background-color: #F2D7D5;
	position:fixed;
	z-index:9999;
}

li a{
	text-decoration: none;
	color: black;
}

.menu {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 7px 16px;
  text-decoration: none;
  font-size:20px;
}

.menu:hover {
  background-color: lavender;
}

.page{
	text-align: center;
	float:left;
	font-size:25px;
	padding: 5px 16px;
	display: block;
	text-decoration: none;

}

/* section style */
section {
	position: relative;
	padding-top: 45px;
    overflow: hidden;
    border-top: 1px solid #95A5A6;
}

/* division */
div{
	padding: 20px;
}

.more{
	width: 75%;
	position: relative;
    padding: 0 20px;
    min-height: 1px;
}

.less {
	width: 25%;
	position: relative;
    padding: 0 20px;
    min-height: 1px;
}

.left {
	float: left;
}

.container{
	display:flex;
	border-radius: 25px;
	border: 1px solid #F2D7D5;
}


/* span */
.name{
	border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
}

/* paragraph */
p {
	font-size:20px;
}

.copy{
	text-align: center;
	font-size: 15px;
	background-color: lightgrey;
}

.full{
	height:100vh;
}




